<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="web.version" type="Web.Version.Configuration.WebVersionConfiguration" />
  </configSections>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true"></compilation>
    <authentication mode="Windows" />
    <httpModules>
      <add name="VersionModule" type="Web.Version.BuildVersionModule, Web.Version" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="VersionModule" />
      <add name="VersionModule" type="Web.Version.BuildVersionModule, Web.Version" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <web.version 
      enabled="true" 
      responseHeaderEnabled="true" 
      reportVersion="1.2.3.4"
      autoHideInSeconds="5"
      htmlDivEnabled="true" />
</configuration>